.image {
  style: "vertical-align:right"
}

.postBtn {
  margin: 5px;
}

.post-header {
  font-size: 30pt;

}

.post-text {
  font-size: 18pt;
  color: sandybrown;

}

.border {
  //border-style: dotted dashed solid double;
  //border-color: blue;
  //border-width: 10px;
  //border: 10px solid transparent;
  //padding: 15px;
  //border-image: url("https://www.w3schools.com/css/border.png") 30 stretch;
}

.comment-header {
  font-size: 22pt;
  color: #00FF00;
}

.comment-text {
  color: darkorange;
}

//.comment-author {
//  //border-style: dotted dashed solid double;
//  //border-color: tomato;
//  //border-width: 5px;
//  border: 10px solid transparent;
//  padding: 15px;
//  border-image: url("https://www.w3schools.com/css/border.png") 30 stretch;
//}



.postBtnDel{
  display: inline-block;
  border: none;
  color: #FFF;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  font-family: Verdana;
  width: auto;
  height: auto;
  font-size: 16px;
  padding: 10px 40px;
  box-shadow: inset 0px 1px 1px 0 #90ADD2,0px 5px 0px 0 #3b134e,0px 8px 5px 0 #B3B3B3;
  -moz-box-shadow: inset 0px 1px 1px 0 #90ADD2,0px 5px 0px 0 #3b134e,0px 8px 5px 0 #B3B3B3;
  -webkit-box-shadow: inset 0px 1px 1px 0 #90ADD2,0px 5px 0px 0 #3b134e,0px 8px 5px 0 #B3B3B3;
  text-shadow: 0 1px 0 #48576D;
  background-image: linear-gradient(to top, #3b134e, #f44336);
  background-color: #4471a9;
}
.postBtnDel:hover, .btn-class:active{
  border: none;
  color: #FFF;
  box-shadow: inset 0px 1px 0px 0 #90ADD2,0px 2px 0px 0 #223955,0px 4px 3px 0 #6B6B6B;
  -moz-box-shadow: inset 0px 1px 0px 0 #90ADD2,0px 2px 0px 0 #223955,0px 4px 3px 0 #6B6B6B;
  -webkit-box-shadow: inset 0px 1px 0px 0 #90ADD2,0px 2px 0px 0 #223955,0px 4px 3px 0 #6B6B6B;
  background-color: #f44336;
}

.postBtn{
  display: inline-block;
  border: none;
  color: #FFF;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  font-family: Verdana;
  width: auto;
  height: auto;
  font-size: 16px;
  padding: 10px 40px;
  box-shadow: inset 0px 1px 1px 0 #90ADD2,0px 5px 0px 0 #3b134e,0px 8px 5px 0 #B3B3B3;
  -moz-box-shadow: inset 0px 1px 1px 0 #90ADD2,0px 5px 0px 0 #3b134e,0px 8px 5px 0 #B3B3B3;
  -webkit-box-shadow: inset 0px 1px 1px 0 #90ADD2,0px 5px 0px 0 #3b134e,0px 8px 5px 0 #B3B3B3;
  text-shadow: 0 1px 0 #48576D;
  background-image: linear-gradient(to top, #3b134e, #673ab7);
  background-color: #4471a9;
}
.postBtn:hover{
  border: none;
  color: #FFF;
  box-shadow: inset 0px 1px 0px 0 #90ADD2,0px 2px 0px 0 #3b134e,0px 4px 3px 0 #6B6B6B;
  -moz-box-shadow: inset 0px 1px 0px 0 #90ADD2,0px 2px 0px 0 #3b134e,0px 4px 3px 0 #6B6B6B;
  -webkit-box-shadow: inset 0px 1px 0px 0 #90ADD2,0px 2px 0px 0 #3b134e,0px 4px 3px 0 #6B6B6B;
  background-color: #ffd740;
}


@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.block:after {
  filter: blur(50px);
}


* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;

  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #f2f2f2;
}

a {
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: #f2f2f2;
  background-color: #673ab7;

}

.content-border {

  width: 100%;
  height: 100%;
  background: transparent;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 20px 20px rgb(103, 58, 183);
  border: 2px solid #2a3cad;
  color: white;
  padding: 2px;
}

.content-border span{
  //position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;

}

.content-border span:nth-child(1)
{
  transform:rotate(0deg);
}

.content-border span:nth-child(2)
{
  transform:rotate(90deg);
}

.content-border span:nth-child(3)
{
  transform:rotate(180deg);
}

.content-border span:nth-child(4)
{
  transform:rotate(270deg);
}

.content-border span:before
{
  content: '';
  position: absolute;
  width:100%;
  height: 5px;
  background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094,
    #0000ff, #00ff00,#ffff00, #ff0000);
  //background: #00ff00;
  animation: animate 4s alternate infinite;

}

@keyframes animate {
  0% {
    transform:scaleX(0);
    transform-origin: left;
  }
  50%
  {
    transform:scaleX(1);
    transform-origin: left;
  }
  50.1%
  {
    transform:scaleX(1);
    transform-origin: right;

  }

  100%
  {
    transform:scaleX(0);
    transform-origin: right;

  }


}


.border {

  width: 100%;
  height: 100%;
  background: transparent;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 20px 20px rgb(103, 58, 183);
  border: 2px solid #2a3cad;
  color: white;
  padding: 2px;
}

.border span{
  //position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;

}

.border span:nth-child(1)
{
  transform:rotate(0deg);
}

.border span:nth-child(2)
{
  transform:rotate(90deg);
}

.border span:nth-child(3)
{
  transform:rotate(180deg);
}

.border span:nth-child(4)
{
  transform:rotate(270deg);
}

.border span:before
{
  content: '';
  position: absolute;
  width:100%;
  height: 5px;
  background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094,
    #0000ff, #00ff00,#ffff00, #ff0000);
  //background: #00ff00;
  animation: animate 4s alternate infinite;

}

.comment-box {

  width: 50%;
  height: 100%;
  background: transparent;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 10px 10px 10px rgb(0, 255, 0);
  border: 2px solid #002fff;
  color: white;
  padding: 2px;
}

.comment-box span{
  //position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;

}

.comment-box span:nth-child(1)
{
  transform:rotate(0deg);
}

.comment-box span:nth-child(2)
{
  transform:rotate(90deg);
}

.comment-box span:nth-child(3)
{
  transform:rotate(180deg);
}

.comment-box span:nth-child(4)
{
  transform:rotate(270deg);
}

.comment-box span:before
{
  content: '';
  position: absolute;
  width:100%;
  height: 5px;
  background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094,
    #0000ff, #00ff00,#ffff00, #ff0000);
  //background: #00ff00;
  animation: animate 4s alternate infinite;

}


