.postBtn {
  margin: 5px;
}

.post-header {
  font-size: 30pt;

}

.post-text {
  font-size: 18pt;
  color: sandybrown;

}

.border {
  border-style: dotted dashed solid double;
  border-color: blue;
  border-width: 10px;
}

.comment-header {
  font-size: 14pt;
}

.comment-text {
  color: darkorange;
}

.comment-author {
  border-style: dotted dashed solid double;
  border-color: tomato;
  border-width: 5px;
}

.comment-box {

}
