<mat-card>
  <mat-card-content class="content-border">
    <span><span><span>
    <td class="post-header">
      {{post.header}}
    </td>
    <br>
    <div style="overflow:hidden;">
      <img style="vertical-align:middle" src="{{post.imageUrl}}" onerror="this.src='https://imgur.com/l1RlOPD'" alt="An image associated with the post.">
    </div>
    <br>
    <td class="post-text">
      {{post.text}}
    </td>
    <br>
    <br>
      </span></span></span>
  </mat-card-content>
  <mat-card-content>
    {{post.author}} @ {{post.createTimestamp}}
    <br><br>
    Last Updated: {{post.updateTimestamp}}
    <br><br>
  </mat-card-content>
  <mat-card-content>
    <button [routerLink]="['/post-comment', post.id]" class="postBtn"><span><span><span>Comment</span></span></span></button>
    <button [routerLink]="['/post-edit', post.id]" class="postBtn"><span><span><span>Edit</span></span></span></button>
    <button [routerLink]="['/post-delete', post.id]" class="postBtnDel"><span><span><span>Delete</span></span></span></button>
    <br><br>
  </mat-card-content>
  <mat-card-content class="border">
    <td class="comment-header">Comments</td>
    <br><br>
    <mat-list-item *ngFor="let comment of post.comments" class="comment-box">
      <td class="comment-text">{{comment.text}}</td>
      <br>
      <td class="comment-author"><br>{{comment.author}} @ {{comment.createTimestamp}}</td>
      <br><br><br>
    </mat-list-item>
  </mat-card-content>
</mat-card>


