<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="span">Loopy Blog</span>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <button mat-menu-item [routerLink]="['/']" class = "homeBtn">Home</button>
    <button mat-menu-item [matMenuTriggerFor]="accountMenu" class = "boardBtn">Account</button>
    <mat-menu #accountMenu="matMenu">
      <button mat-menu-item [routerLink]="['/user-login', 1]">Login</button>
      <button mat-menu-item [routerLink]="['/user-register', 1]">Register</button>
      <button mat-menu-item [routerLink]="['/user-settings', 1]">Account Settings</button>
    </mat-menu>
    <button mat-menu-item [matMenuTriggerFor]="boardMenu" class = "boardBtn">Boards</button>
    <mat-menu #boardMenu="matMenu">
      <button mat-menu-item [routerLink]="['/board-list']">View All Boards</button>
      <button mat-menu-item [routerLink]="['/board-add']">Add New Board</button>
    </mat-menu>
    <button mat-menu-item [matMenuTriggerFor]="postMenu" class = "postBtn">Posts</button>
    <mat-menu #postMenu="matMenu">
      <button mat-menu-item [routerLink]="['/post-add']">Submit Post</button>
      <button mat-menu-item [routerLink]="['/post-list']">View All Posts</button>
    </mat-menu>
    <button mat-menu-item [matMenuTriggerFor]="searchMenu" class = "searchBtn">Search</button>
    <mat-menu #searchMenu="matMenu">
      <button mat-menu-item [routerLink]="['/search-tags']">Find By: Tags</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>

