<mat-card>
  <mat-card-header>Boards</mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let board of boards">
        <div style="width: 100%; text-align: left;">
          <button mat-raised-button color="primary" [routerLink]="['/board-view', board.id]">{{board.title}}</button>
        </div>
        <a mat-button [routerLink]="['/board-edit', board.id]">Edit</a>
        <a mat-button [routerLink]="['/board-delete', board.id]">Delete</a>
        <h3 mat-line><br></h3>
      </mat-list-item>
    </mat-list>
  </mat-card-content>

  <button mat-fab color="primary" [routerLink]="['/board-add']">Submit</button>
</mat-card>
