<mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header-row"> Board </th>
    <td mat-cell *matCellDef="let board" class="table-row">
      <button mat-raised-button color="accent" [routerLink]="['/board-view', board.id]">{{board.title}}</button>
    </td>
  </ng-container>
  <ng-container matColumnDef="posts">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header-row"> Posts </th>
    <td mat-cell *matCellDef="let board" class="table-row"> {{board.posts.length}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</mat-table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" [showFirstLastButtons]="true"></mat-paginator>
