.spaced {
  margin: 25px;
}

.postButton {
  margin: 15px;
}

.title-header {
  height: 5px !important;
  font-size: 30pt !important;
  width: 350px !important;
}

.title-row {
  height: 5px !important;
  font-size: 14pt !important;
  width: 350px !important;
}

.author-header {
  height: 5px !important;
  font-size: 30pt !important;
  width: 200px !important;
}

.author-row {
  height: 5px !important;
  font-size: 14pt !important;
  width: 200px !important;
}

.time-header {
  height: 5px !important;
  font-size: 30pt !important;
}

.time-row {
  height: 5px !important;
  font-size: 14pt !important;
  text-align: center !important;
}

.comment-header {
  height: 5px !important;
  font-size: 30pt !important;
}

.comment-row {
  height: 5px !important;
  font-size: 14pt !important;
  width: 10px !important;
  text-align: center !important;
}
