/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/pink-bluegrey.css";
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

/* LEFT align */
.mat-list .mat-list-item.left .mat-list-item-content{
  justify-content: flex-start;
}
/* RIGHT align */
.mat-list .mat-list-item.right .mat-list-item-content{
  justify-content: flex-end;
}



/* If you will use matLine */

/* LEFT align */
.mat-list .mat-list-item.left .mat-list-text>*{
  margin: 0 auto 0 0;
}
/* RIGHT align */
.mat-list .mat-list-item.right .mat-list-text>*{
  margin: 0 0 0 auto;
}
