<mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

  <ng-container matColumnDef="header">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="title-header"> Title </th>
    <td mat-cell *matCellDef="let post" class="title-row">
      <button mat-raised-button color="accent" [routerLink]="['/post-view', post.id]">{{post.header}}</button>
    </td>
  </ng-container>

  <ng-container matColumnDef="author">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="author-header"> Author </th>
    <td mat-cell *matCellDef="let post" class="author-row"> {{post.author}} </td>
  </ng-container>

  <ng-container matColumnDef="createTimestamp">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="time-header"> Time </th>
    <td mat-cell *matCellDef="let post" class="time-row"> {{post.createTimestamp}} </td>
  </ng-container>

  <ng-container matColumnDef="board.title">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="board-header"> Board </th>
    <td mat-cell *matCellDef="let post" class="board-row"> {{post.board.title}} </td>
  </ng-container>

  <ng-container matColumnDef="comments">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="comment-header"> Comments </th>
    <td mat-cell *matCellDef="let post" class="comment-row"> {{post.comments.length}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</mat-table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" [showFirstLastButtons]="true"></mat-paginator>
