.spaced {
  margin: 25px;
}

.postButton {
  margin: 15px;
}

.table-row {
  height: 5px !important;
  font-size: 14pt !important;
}

.table-header-row {
  height: 5px !important;
  font-size: 30pt !important;
}


