<mat-card>
  <mat-card-header>Posts</mat-card-header>
  <mat-card-content>
    <mat-list dense>
      <mat-list-item *ngFor="let post of posts">
        <h3 mat-line>Post #{{post.id}}: {{post.header}}</h3>
            <h3 mat-line><br></h3>
        <h3 mat-line>{{post.text}}</h3>
            <h3 mat-line><br></h3>
        <h3 mat-line>{{post.author}} @ {{post.createTimestamp}} in {{post.board.title}}</h3>
        <a mat-button [routerLink]="['/post-comment', post.id]" class = "postButton">Comment</a>
        <a mat-button [routerLink]="['/post-view-comments', post.id]" class = "postButton">View Comments</a>
        <a mat-button [routerLink]="['/post-edit', post.id]" class = "postButton">Edit</a>
        <a mat-button [routerLink]="['/post-delete', post.id]" class = "postButton">Delete</a>
      </mat-list-item>
    </mat-list>
  </mat-card-content>

  <button mat-fab color="primary" [routerLink]="['/post-add']" class = "spaced">Submit</button>
  <button mat-fab color="primary" [routerLink]="['/board-list']" class = "spaced">Home</button>
</mat-card>
